/* binary page start*/

.binary .right-side .white-right {
    background: #fff;
    height: 300px;
}

.binary .right-side .white-right h2 {
    background: #243a48;
    color: #fff;
    height: 25px;
    font-size: 13px;
    padding: 5px;
}

.binary .right-side .white-right p {
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
}

.binary .right-side .white-right h2 i.fa.fa-minus-square-o {
    float: right;
    padding-top: 1px;
}

.binary .right-side {
    border-top: 1px solid #fff;
}

.binary .center {
    overflow-y: scroll;
    height: 630px;
    margin-top: 0px;
}

.binary .text-b {
    background: #243a48;
    height: 33px;
    border-top: 1px solid #fff;
}

.binary .text-b h2 {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 12px;
    font-weight: bold;
    line-height: 28px;
}

.binary .text-b h2 span {
    float: right;
    padding-right: 15px;
}

.binary .text-b h2 span img {
    height: 25px;
}

.binary .daily {
    border-bottom: 3px solid #6ab00f;
}

.binary .daily h2 {
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    background: #6ab00f;
    margin-bottom: 0px;
    width: 150px;
    clip-path: circle(73.4% at 37% 128%);
    font-weight: bold;
    margin-top: 20px;
    line-height: 2.4;
    padding-left: 9px;
}

.binary .daily h2 strong {
    font-size: 10px;
    background: #51821c;
    padding: 1px 5px 2px 5px;
    border-radius: 7px;
}

.binary table {
    background: white;
    width: 100%;
}

.binary table tr {
    border-bottom: 1px solid #668da9;
    border-width: 1px;
    border-right: none;
    border-left: none;
}

.binary table tr td {
    font-size: 12px;
    text-transform: capitalize;
    height: 38px;
    padding: 0px 0px 0px 11px;
}

.binary table tr .td {
    font-weight: bold;
    font-size: 13px;
    width: 40%;
}

.binary table tr th {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
    padding: 4px;
}

.binary table tr td li {
    list-style: outside;
    color: #6ab00f;
}

.binary table tr td li span {
    color: #000;
}

.binary table tr .td-a {
    background: #faa9ba;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.binary table tr .td-a-r {
    background-color: #72bbef;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.binary table tr td a span {
    font-weight: lighter;
}

.binary table tr td .td-right {
    font-size: 10px;
    color: #aeaeae;
    text-decoration: none;
}

.binary table tr td .td-right span {
    color: #000;
    font-size: 11px;
}

.binary .text-b h2 span i.fas.fa-redo-alt {
    font-size: 13px;
    font-weight: lighter;
    margin-top: 8px;
}

/* binary page end*/