.in-play .marquee-box {
    margin-bottom: 10px;
}

.in-play .maine-table {
    overflow-y: scroll;
    height: 600px;
    margin-top: 15px;
}

.in-play .btn.active {
    background: #243a48;
    color: #ffff;
}

#myDIV {
    margin: 0 0 10px;
}

.in-play button {
    font-size: 13px;
    height: 30px;
    width: 130px;
    background: #fff;
    border: 1px solid #243a48;
    border-radius: 3px;
    color: #243a48;
    font-weight: 900;
    margin-right: -6px;
    margin-top: 2px;
    text-align: center;
}

#in_play {
    border-radius: 3px 0 0 3px;
}

#in_today {
    border-radius: 0 0 0 0;
}

#in_tomorrow {
    border-radius: 0 3px 3px 0;
}

.in-play .table h2 {
    background: #243a48;
    color: #fff;
    height: 26px;
    font-size: 12px;
    padding: 6px;
    margin-top: 0;
    margin-bottom: 0px;
}

.in-play .table h2 i.fas.fa-minus {
    float: right;
    border: 1px solid #fff;
    padding: 1px;
    font-size: 7px;
    border-radius: 2px;
    margin-right: 7px;
}

.in-play .white-right h2 {
    background: #243a48;
    color: #fff;
    height: 25px;
    font-size: 13px;
    padding: 5px;
    border-top: 1px solid #fff;
    margin-bottom: 0;
}

.in-play .white-right h2 i.fas.fa-minus {
    float: right;
    font-size: 7px;
    border: 1px solid #fff;
    padding: 1px 1px 0px 1px;
    border-radius: 3px;
    margin: 3px;
}

.in-play .white-right {
    background: #fff;
    height: 300px;
}

.in-play .maine-table .table tr {
    background: #ced5da;
    height: 24px;
    border: none;
}

.in-play .maine-table .table th {
    width: 100%;
    padding-right: 3;
    font-size: 12px;
    font-weight: unset;
    text-align: center;
}

.in-play .maine-table .table .th-heading {
    color: #2f89ce;
    font-weight: bold;
    font-size: 13px;
    text-align: unset;
}

.in-play .maine-table .table .th-heading i.fa.fa-circle {
    color: #6bbd11;
    padding: 8px;
    font-size: 9px;
}

.in-play .maine-table .table .tr-row {
    cursor: pointer;
    background: #fff;
    height: 30px;
    border-bottom: 1px solid #d3d3d3;
}

.in-play .maine-table .table .tr-row .th-box .btn-blue input {
    height: 24px;
    width: 75px;
    background: #80c2f1;
    border: none;
    margin: 1px;
    color: #090909;
    font-weight: 900;
}

.in-play .maine-table .table .tr-row .th-box .btn-pink input {
    height: 24px;
    width: 75px;
    background: #faa9ba;
    border: none;
    margin: 1px;
    color: #090909;
    font-weight: 900;
}

.in-play .maine-table .table .tr-row .th-box .p-btn {
    display: flex;
}

.in-play .maine-table2 .maine-table-scroll {
    overflow-y: scroll;
    height: 496px;
    margin-top: 15px;
}

.in-play .maine-table2 .filter {
    background: #e0e6e6;
    height: 50px;
    border-bottom: 1px solid #1a305a;
    margin-top: 10px;
}

.in-play .maine-table2 .filter h3 {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    float: left;
    padding-left: 16px;
    line-height: 54px;
    padding-right: 20px;
}

.in-play .maine-table2 .filter h4 span {
    font-size: 12px;
    font-weight: lighter;
}

.in-play .maine-table2 .filter h4 span i.fa.fa-circle {
    font-size: 5px;
    color: #8ca2b0;
}

.in-play .maine-table2 .filter h4 {
    font-size: 13px;
    padding: 20px;
    color: #000;
    font-weight: bold;
}

.in-play .maine-table2 .filter h4 .filter-btn {
    float: right;
    padding: 5px 35px 5px 35px;
    font-size: 13px;
    font-weight: revert;
    border-radius: 5px;
    border: 1px solid #b4b3b3;
    margin-top: -6px;
}

.in-play .white-right p {
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
}

.in-play .maine-table2 .maine-table-scroll table {
    background: #fff;
    width: 100%;
}

.in-play .maine-table2 .maine-table-scroll table tr {
    border-bottom: 1px solid #e8e8e8;
    height: 32px;
}

.in-play .maine-table2 .maine-table-scroll table tr th {
    font-size: 11px;
    padding: 6px 0px 5px 10px;
}

.in-play .maine-table2 .maine-table-scroll table tr td {
    font-size: 12px;
    text-transform: capitalize;
}

.in-play .maine-table2 .maine-table-scroll table tr td i.fa.fa-caret-right {
    color: #dfdfdf;
    font-size: 15px;
    padding: 2px;
}

.in-play .maine-table2 .maine-table-scroll table tr td span {
    color: #1479d1;
    font-weight: bold;
}

.in-play .maine-table2 .maine-table-scroll table tr td span a {
    text-decoration: none;
}

.in-play .maine-table3 .filter {
    background: #e0e6e6;
    height: 50px;
    border-bottom: 1px solid #1a305a;
    margin-top: 10px;
}

.in-play .maine-table3 .filter h3 {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    float: left;
    padding-left: 16px;
    padding-right: 20px;
    line-height: 55px;
}

.in-play .maine-table3 .filter h4 span {
    font-size: 12px;
    font-weight: lighter;
}

.in-play .maine-table3 .filter h4 span i.fa.fa-circle {
    font-size: 5px;
    color: #8ca2b0;
}

.in-play .maine-table3 .filter h4 {
    font-size: 13px;
    padding: 20px;
    color: #000;
    font-weight: bold;
}

.in-play .maine-table3 .filter h4 .filter-btn {
    float: right;
    padding: 5px 35px 5px 35px;
    font-size: 13px;
    font-weight: revert;
    border-radius: 5px;
    border: 1px solid #b4b3b3;
    margin-top: -6px;
}

.in-play .maine-table3 .maine-table-scroll {
    overflow-y: scroll;
    height: 496px;
    margin-top: 15px;
}

.in-play .maine-table3 .maine-table-scroll table {
    background: #fff;
    width: 100%;
}

.in-play .maine-table3 .maine-table-scroll table tr {
    border-bottom: 1px solid #e8e8e8;
    height: 32px;
}

.in-play .maine-table3 .maine-table-scroll table tr th {
    font-size: 11px;
    padding: 6px 0px 5px 10px;
}

.in-play .maine-table3 .maine-table-scroll table tr td {
    font-size: 12px;
    text-transform: capitalize;
}

.in-play .maine-table3 .maine-table-scroll table tr td i.fa.fa-caret-right {
    color: #dfdfdf;
    font-size: 15px;
    padding: 2px;
}

.in-play .maine-table3 .maine-table-scroll table tr td span {
    color: #1479d1;
    font-weight: bold;
}

.in-play .maine-table3 .maine-table-scroll table tr td span a {
    text-decoration: none;
}

.inplay_right {
    padding-left: 0;
}

.in-play .hi-cri {
    background: #dddcd6;
    border-bottom: 1px solid #243a48;
}

.in-play .hi-cri h2 {
    background: #243a48;
    line-height: 2;
    font-size: 12px;
    padding-left: 11px;
    color: #fff;
    margin-top: 12px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
}

.in-play .hi-cri table tbody {
    background-color: #fff;
}

.in-play .hi-cri table tbody tr {
    vertical-align: middle;
}

.in-play .hi-cri table tbody tr th {
    padding: 0px 0px 0px 10px;
    line-height: 29px;
    width: 100%
}

.in-play .hi-cri table thead tr th {
    border: none;
    border: none;
    text-align: center;
    font-size: 12px;
    font-weight: unset;
    padding: 2px 0px 2px 0px;
}

.in-play .hi-cri table tbody tr th a {
    font-size: 12px;
    text-decoration: none;
}

.in-play .hi-cri table tbody tr th a span {
    font-size: 10px;
}

.hi-cri table tbody tr th a span {
    margin-top: 5px;
}

.in-play .hi-cri table tbody tr th a .play {
    color: #2da20f;
    padding-left: 9px;
    font-size: 12px;
}

.in-play .hi-cri table tbody tr td .blue {
    height: 22px;
    width: 50px;
    border: none;
    background: #72bbef;
    margin-right: 1px;
    font-size: 11px;
}

.in-play .hi-cri table tbody tr td .pink {
    background: #faa9ba;
    border-radius: 0;
    height: 22px;
    width: 50px;
    border: none;
    margin-right: 1px;
    font-size: 11px;
}

}

.in-play .hi-cri table tbody tr td {
    padding: 0;
    width: 12%
}

.in-play .hi-cri table tbody tr td .col-div {
    display: flex;
    /*     margin-right: -40px; */
}

i.fas.fa-alarm-clock {
    color: #ffffff;
    float: right;
    font-size: 12px;
    margin: 6px;
    border: 1px solid #72dd48;
    border-radius: 4px;
    background: #72dd48;
    padding: 2px;
    font-size: 10px;
}

.in-play .hi-cri table tbody tr td i.fas.fa-thumbtack {
    font-size: 13px;
    color: #7e97a7;
    border: 1px solid #7e97a7;
    border-radius: 50%;
    padding: 3px 3px 0px 3px;
    cursor: pointer;
}

.in-play .hi-cri table {
    margin: 0;
}

.in-play .maine-table2 .check-div {
    margin-left: -411px;
    margin-top: 2px;
    width: 35%;
    border-radius: 6px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 50%);
}

.in-play .maine-table2 .check-btn {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 225px 0 7px;
    font-weight: 100;
}

.in-play .maine-table2 .check-save .save-btn {
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 13px;
    line-height: 22px;
    padding: 0 35px 0 35px;
    margin-left: 12px;
    margin-top: 9px;
    background-color: #000000;
    color: #ffc21e;
}

.in-play .maine-table2 .check-save .cancel-btn {
    border: 1px solid #acacac;
    border-radius: 3px;
    font-size: 13px;
    line-height: 22px;
    padding: 0 35px 0 35px;
    margin-left: 12px;
    margin-top: 9px;
}

.in-play .maine-table2 .check-save {
    border-top: 1px solid #b0b0b0;
    margin: 0 9px 0 9px;
}

.in-play .maine-table3 .check-div {
    margin-left: -411px;
    margin-top: 2px;
    width: 35%;
    border-radius: 6px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 50%);
}

.in-play .maine-table3 .check-btn {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 225px 0 7px;
    font-weight: 100;
}

.in-play .maine-table3 .check-save .save-btn {
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 13px;
    line-height: 22px;
    padding: 0 35px 0 35px;
    margin-left: 12px;
    margin-top: 9px;
    background-color: #000000;
    color: #ffc21e;
}

.in-play .maine-table3 .check-save .cancel-btn {
    border: 1px solid #acacac;
    border-radius: 3px;
    font-size: 13px;
    line-height: 22px;
    padding: 0 35px 0 35px;
    margin-left: 12px;
    margin-top: 9px;
}

.in-play .maine-table3 .check-save {
    border-top: 1px solid #b0b0b0;
    margin: 0 9px 0 9px;
}

.in-play .maine-table1 {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 572px;
}

.in-play .hi-cri table tbody tr td i.fas.fa-thumbtack.pinon {
    color: #6bbd11;
    border-color: #6bbd11;
}

.hi-cri table thead tr {
    background-color: #CED5DA;
    padding: 0 10px;
}

.hi-cri table thead tr th {
    padding: 5px 3px !important;
}

.hi-cri table thead .col-game {
    width: calc(64% - 42px);
}

.hi-cri .col-visit,
.hi-cri .col-home,
.hi-cri .col-draw {
    width: 12%;
}

.game-fancy,
.game-sportsbook,
.game-bookmaker,
.game-live {
    display: inline-flex;
    justify-content: center;
    margin-right: 5px;
    border-radius: 3px;
    width: 17px;
    height: 16px;
    padding: 0 !important;
    float: right;
}

.game-fancy {
    background-color: #0A92A5;
    font-size: 0 !important;
}

.play-in.game-fancy {
    position: relative;
    overflow: hidden;
    width: 35px;
}

.play-in.game-fancy:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-position: -395px -2540px;
    height: 16px;
    width: 19px;
    border-radius: 3px 0 0 3px;
    background-image: url(/desktopfile/img/main-s0ecd36cf33.png);
    background-repeat: no-repeat;
}

}

.game-fancy:after,
.game-sportsbook:after,
.game-bookmaker:after,
.game-live:after {
    content: "";
    background-size: cover;
    width: 12px;
    height: 12px;
    display: block;
}

.play-in.game-fancy:after,
.play-in.game-sportsbook:after,
.play-in.game-bookmaker:after,
.play-in.game-live:after {
    margin-left: 19px;
}

.hi-cri .game-fancy:after {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.44 21.32l1.792-8.456h5.628l.504-2.408h-5.628l1.288-6.02h7.252L20.78 2H10.112c-.896 0-1.68.275-2.352.826-.672.55-1.11 1.283-1.316 2.198L3 21.32h6.44z" fill="%23C5F6EE" fill-rule="nonzero"/></svg>');
}

.game-E {
    display: inline-flex;
    right: 0;
    height: 16px;
    background-color: #fff;
    line-height: 16px;
    font-size: 10px;
    color: #1F5172;
    border-radius: 4px;
    border: 1px solid #1F5172;
    margin-right: 3px;
    padding: 0 3px 0 0;
    overflow: hidden;
}

.game-list-col dt span {
    font-weight: normal;
    padding: 0 3px;
}

.game-E:not(*:root) {
    transform: scale(0.9);
}

.game-list-col dt .game-E {
    padding: 0 3px 0 0;
    vertical-align: top;
}

.game-E i {
    display: flex;
    position: relative;
    width: 18px;
    height: 100%;
    background-color: #1F5172;
    margin-right: 2px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.game-E i:before {
    display: block;
    content: '';
    width: 7px;
    height: 8px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 15"><path fill="%23fff" d="M13 15v-4.768h-2.827v2.22H5.605V8.52h3.688V5.992H5.605V2.548h4.568v2.2H13V0H0v2.548h1.78v9.904H0V15z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -3px;
}

.game-E i:after {
    position: absolute;
    right: 0;
    content: '';
    border-left: 5px solid transparent;
    border-bottom: 14px solid #fff;
}

.game-sportsbook {
    background-color: #E4550F;
}

.game-bookmaker {
    background-color: #226BC3;
}

.game-live {
    float: none;
    vertical-align: middle;
}

.game-live {
    width: 18px;
    background-color: #1876B2;
    align-items: center;
}

.game-fancy,
.game-sportsbook,
.game-live,
.game-bookmaker {
    display: inline-flex;
    align-items: center;
}

.hi-cri table tbody tr th a .game-live:after {
    content: '';
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><g fill="none" fill-rule="evenodd"><circle cx="6" cy="6" r="6" fill="%234AA2DB"/><path fill="%23FFF" d="M6 0a6 6 0 110 12A6 6 0 016 0zm0 1a5 5 0 100 10A5 5 0 006 1z" opacity=".605"/><path fill="%23FFF" d="M4 3v6l5-3z"/></g></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
}

.game-bookmaker:after {
    content: '';
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M15.58 21c.876 0 1.642-.257 2.3-.77.656-.513 1.085-1.195 1.286-2.047l.986-4.487c.091-.348.05-.679-.123-.992A1.722 1.722 0 0019.33 12c.365-.14.699-.365 1-.678.3-.313.497-.644.588-.992l.986-4.513c.2-.852.087-1.534-.342-2.047-.43-.513-1.09-.77-1.985-.77H5.997L2 21h13.58zm-1.096-10.122h-3.942l1.26-5.608h3.942l-1.26 5.608zm-1.752 7.879H8.79l1.26-5.635h3.942l-1.26 5.635z" fill="%23CAFCFF" fill-rule="nonzero"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
}

.game-sportsbook:after {
    content: '';
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.297 21l1.26-5.635 7.255.026c.876 0 1.642-.256 2.3-.77.656-.512 1.085-1.195 1.286-2.047l1.506-6.757c.2-.852.087-1.534-.342-2.047-.43-.513-1.09-.77-1.985-.77H5.997L2 21h6.297zm5.695-7.878h-3.943l1.752-7.852h3.943l-1.752 7.852z" fill="%23FCEDC0" fill-rule="nonzero"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
}

.game-fancy:after {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.44 21.32l1.792-8.456h5.628l.504-2.408h-5.628l1.288-6.02h7.252L20.78 2H10.112c-.896 0-1.68.275-2.352.826-.672.55-1.11 1.283-1.316 2.198L3 21.32h6.44z" fill="%23C5F6EE" fill-rule="nonzero"/></svg>');
}

.play-in.game-bookmaker:before,
.play-in.game-live:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-position: -395px -2540px;
    height: 16px;
    border-radius: 3px 0 0 3px;
}

.play-in.game-bookmaker:before,
.play-in.game-fancy:before {
    background-image: url(/desktopfile/img/main-s0ecd36cf33.png);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-position: -395px -2540px;
    height: 16px;
    width: 19px;
    border-radius: 3px 0 0 3px;
}

.play-in.game-fancy,
.play-in.game-sportsbook,
.play-in.game-bookmaker,
.play-in.game-live {
    position: relative;
    overflow: hidden;
    width: 35px;
}

.hi-cri table tbody tr th a .game-live {
    margin-top: 0;
}