.result .result_right {
    padding-left: 0;
}

.result .result_right .white-right {
    background: #fff;
    height: 300px;
    border: 1px solid #fff;
}

.result .result_right .white-right h2 {
    background: #243a48;
    color: #fff;
    height: 25px;
    font-size: 13px;
    padding: 5px;
}

.result .result_right .white-right h2 i.fas.fa-minus {
    float: right;
    font-size: 7px;
    border: 1px solid #fff;
    padding: 1px 1px 0px 1px;
    border-radius: 3px;
    margin: 3px;
}

.result .result_right .white-right p {
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
}

.result .btn {
    font-size: 13px;
    height: 30px;
    width: 225px;
    background: #ffffff;
    border: 1px solid #243a48;
    color: #243a48;
    font-weight: 900;
    margin-right: -6px;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
    /*  padding-top:3px; */
    line-height: 15px;
}

#play {
    border-radius: 6px 0 0 6px;
}

#tom {
    border-radius: 0 6px 6px 0;
}

.result .active {
    background: #2a3a43;
    color: #fff;
}

.result .hi-cri h2 {
    background: #2a3a43;
    color: #fff;
    height: 25px;
    margin-top: 11px;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 24px;
    padding-left: 11px;
    border-bottom: 3px solid #7e97a7;
    margin-bottom: 0;
}

.result .hi-cri table tr {
    background: #E4E4E4;
    text-transform: capitalize;
    font-size: 12px;
}

.result .hi-cri table tr th {
    color: #243a48;
    background-color: #E4E4E4;
    border-width: 1px 0 1px 0;
    padding: 8px 10px;
}

.result .hi-cri table tr td {
    padding: 0;
    background: #fff;
    line-height: 3;
    padding-left: 9px;
    padding-right: 9px;
}

.result .hi-cri table tr #Result_Title_2 {
    text-align: right;
}

.result .hi-cri table tr td p {
    margin: 0;
    font-size: 11px;
}

#myDIV select {
    line-height: 29px;
    height: 29px;
    margin: 0px;
    width: 180px;
    height: 29px;
    float: right;
    margin-top: 13px;
    font-size: 13px;
    -moz-height: 40px;
}

.result option {
    padding: 3px;
}

.maine-table1.today_table {
    height: 531px;
}