<nav>
  <ul>
    <li id="mini" class="main-nav">
      <a class="ui-link" href="/" style="margin-top: -3vw"><img class="icon-promote" src="../../assets/desktopfile/img/casino.gif" alt="mini"
/></a>
    </li>
    <li id="sports" class="navlink">
      <a class="ui-link" routerLink="/highlights"><img class="icon-sports" src="../../assets/desktopfile/img/transparent.gif" />Sports</a>
    </li>
    <li id="inPlay" class="navlink">
      <a class="ui-link" routerLink="/inplay"><img class="icon-inplay" src="../../assets/desktopfile/img/transparent.gif"/>In-Play</a>
    </li>
    <li id="index" class="navlink">
      <a class="ui-link" routerLink="/"><img class="icon-home" src="../../assets/desktopfile/img/transparent.gif" />Home</a>
    </li>
    <li id="account" class="navlink">
      <a class="ui-link" routerLink="/"><img class="icon-account" src="../../assets/desktopfile/img/transparent.gif"/>Account</a>
    </li>
  </ul>
</nav>
