<app-navigation></app-navigation>

<div class="container-fluid in-play" style="background: #f0ece1;">
  <div class="row">
    <div class="col-md-9 col-9">

        <!-- marquee start  -->
        <div class="marquee-box container" style="display:none;" id="main_News">
          <h4><i class="fa fa-microphone" aria-hidden="true"></i>
              News</h4>

          <div class="marquee">
              <div style="" class="js-marquee-wrapper">
                  <div class="js-marquee" style="margin-right: 0px; float: left;width:100%">
                  <marquee width="100%" direction="left">
                    <span id="news_data" style="display: -webkit-inline-box;">--</span>
                  </marquee>
                  </div>
              </div>
          </div>

      </div>




      <!-- marquee end  -->

      <div id="myDIV">
        <button type="button" id="in_play" onclick="inPlayResult()" style="background-color: rgb(36, 58, 72); color: rgb(255, 255, 255);">In-play</button>
        <button type="button" id="in_today" onclick="inPlayTodayMatch()" style="background-color: rgb(255, 255, 255); color: rgb(36, 58, 72);">Today</button>
        <button type="button" id="in_tomorrow" onclick="inPlayTomorrowMatch()" style="background-color: rgb(255, 255, 255); color: rgb(36, 58, 72);">Tomorrow</button>
      </div>
      <div class="maine-table1">
        <!-- cricket start  -->
        <div class="hi-cri" id="cricketHideandshow">
          <h2>
            <a class="to-expand">Cricket</a>
          </h2>
          <table class="table">
            <thead>
              <tr>
                <th class="col-game"></th>
                <th class="col-visit">1</th>
                <th class="col-draw">x</th>
                <th class="col-home">2</th>
                <th class="col-info"></th>
              </tr>
            </thead>
            <tbody id="cricketInplayList">



<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vci">
        Virtual Cricket
        <span class="play">In-Play</span>
        <span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
        <span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
        <span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
        <span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
        <span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
        <span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
      </a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a id="back00" onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',4,`Virtual Cricket`,)" class="blue" value="-"></a>
          <a id="lay00" onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',4,`Virtual Cricket`,)" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a id="back" onclick="betSlipPageLoad(``,'','back','Odds',1,'0',4,`Virtual Cricket`,)" class="blue" value="-"></a>
          <a id="lay" onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',4,`Virtual Cricket`,)" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',4,`Virtual Cricket`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',4,`Virtual Cricket`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/exchange/Match/Inner/4/29510526">
          The Hundred
          <span class="play">In-Play</span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a id="back2635492529510526" onclick="betSlipPageLoad(`Trent Rockets`,'26354925','back','Odds',1,'29510526',4,`The Hundred`,1)" class="blue" value="-">4.6</a>
          <a id="lay2635492529510526" onclick="betSlipPageLoad(`Trent Rockets`,'26354925','lay','Odds',1,'29510526',4,`The Hundred`,1)" class="pink" value="-">4.8</a>

      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a id="back2635492229510526" onclick="betSlipPageLoad(`Manchester Originals`,'26354922','back','Odds',1,'29510526',4,`The Hundred`,1)" class="blue" value="-">6.8</a>
          <a id="lay2635492229510526" onclick="betSlipPageLoad(`Manchester Originals`,'26354922','lay','Odds',1,'29510526',4,`The Hundred`,1)" class="pink" value="-">9.4</a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`Birmingham Phoenix`,'26354921','back','Odds',1,'29510526',4,`The Hundred`,1)" id="back2635492129510526" class="blue" value="-">6.8</a>
          <a onclick="betSlipPageLoad(`Birmingham Phoenix`,'26354921','lay','Odds',1,'29510526',4,`The Hundred`,1)" id="lay2635492129510526" class="pink" value="-">8.6</a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon29510526" onclick="addMultimarket('29510526')"></i>
  </td>
</tr>


</tbody>
          </table>
        </div>
        <!-- cricket end  -->
        <!-- soccer start  -->
        <div class="hi-cri" id="soccerhideandshow" style="">
          <h2>
            <a class="to-expand">Soccer</a>
          </h2>
          <table class="table">
            <thead>
              <tr>
                <th class="col-game"></th>
                <th class="col-visit">1</th>
                <th class="col-draw">x</th>
                <th class="col-home">2</th>
                <th class="col-info"></th>
              </tr>
            </thead>
            <tbody id="soccerInplayList">


<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vfb">
          Virtual Football Bungesliga
          <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_1" style="display: none;"><i></i>Soccer</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Bungesliga`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Bungesliga`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',1,`Virtual Football Bungesliga`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',1,`Virtual Football Bungesliga`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Bungesliga`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Bungesliga`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vfel">
          Virtual Football English League
          <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_1" style="display: none;"><i></i>Soccer</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football English League`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football English League`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',1,`Virtual Football English League`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',1,`Virtual Football English League`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football English League`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football English League`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vflm">
          Virtual Football League Mode
          <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_1" style="display: none;"><i></i>Soccer</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football League Mode`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football League Mode`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',1,`Virtual Football League Mode`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',1,`Virtual Football League Mode`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football League Mode`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football League Mode`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vfwc">
          Virtual Football World Cup
          <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_1" style="display: none;"><i></i>Soccer</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football World Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football World Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',1,`Virtual Football World Cup`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',1,`Virtual Football World Cup`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football World Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football World Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vfec">
          Virtual Football Euro Cup
          <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_1" style="display: none;"><i></i>Soccer</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Euro Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Euro Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',1,`Virtual Football Euro Cup`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',1,`Virtual Football Euro Cup`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Euro Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Euro Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vfas">
          Virtual Football Asian Cup
          <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_1" style="display: none;"><i></i>Soccer</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Asian Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Asian Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',1,`Virtual Football Asian Cup`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',1,`Virtual Football Asian Cup`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Asian Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Asian Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vfnc">
          Virtual Football Nationals Cup
          <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_1" style="display: none;"><i></i>Soccer</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Nationals Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Nationals Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',1,`Virtual Football Nationals Cup`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',1,`Virtual Football Nationals Cup`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Nationals Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Nationals Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vfcc">
          Virtual Football Champions Cup
          <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_1" style="display: none;"><i></i>Soccer</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Champions Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Champions Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',1,`Virtual Football Champions Cup`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',1,`Virtual Football Champions Cup`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',1,`Virtual Football Champions Cup`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',1,`Virtual Football Champions Cup`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

</tbody>
          </table>
        </div>
        <!-- soccer end  -->
        <!-- tennis start  -->
        <div class="hi-cri" id="tennishideandshow" style="">
          <h2>
            <a class="to-expand">Tennis</a>
          </h2>
          <table class="table">
            <thead>
              <tr>
                <th class="col-game"></th>
                <th class="col-visit">1</th>
                <th class="col-draw">x</th>
                <th class="col-home">2</th>
                <th class="col-info"></th>
              </tr>
            </thead>
            <tbody id="tennisInplayList">



<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vti">
          Virtual Tennis
       <span class="play">In-Play</span><span class="play"></span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
      </a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',2,`Virtual Tennis`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',2,`Virtual Tennis`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'0',2,`Virtual Tennis`,)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'0',2,`Virtual Tennis`,)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`0`,'0','back','Odds',1,'0',2,`Virtual Tennis`,)" id="back00" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(`0`,'0','lay','Odds',1,'0',2,`Virtual Tennis`,)" id="lay00" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon0" onclick="addMultimarket('0')"></i>
  </td>
</tr>

<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/exchange/Match/Inner/2/32536928">
          Zekic v Cungu<span class="play"></span>
       <span class="play">In-Play</span><span class="play">934'</span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>
<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>
<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
      </a>
  </th>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`Miljan Zekic`,'7444811','back','Odds',1,'32536928',2,`Zekic v Cungu`,1)" id="back744481132536928" class="blue" value="-">1.25</a>
          <a onclick="betSlipPageLoad(`Miljan Zekic`,'7444811','lay','Odds',1,'32536928',2,`Zekic v Cungu`,1)" id="lay744481132536928" class="pink" value="-">1.4</a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(``,'','back','Odds',1,'32536928',2,`Zekic v Cungu`,1)" id="back" class="blue" value="-"></a>
          <a onclick="betSlipPageLoad(``,'','lay','Odds',1,'32536928',2,`Zekic v Cungu`,1)" id="lay" class="pink" value="-"></a>
      </div>
  </td>
  <td>
      <div class="col-div">
          <div class="suspend" style="display: none;">
              <span>Suspend</span>
          </div>
          <a onclick="betSlipPageLoad(`Rrezart Cungu`,'10410242','back','Odds',1,'32536928',2,`Zekic v Cungu`,1)" id="back1041024232536928" class="blue" value="-">3.5</a>
          <a onclick="betSlipPageLoad(`Rrezart Cungu`,'10410242','lay','Odds',1,'32536928',2,`Zekic v Cungu`,1)" id="lay1041024232536928" class="pink" value="-">5</a>
      </div>
  </td>
  <td>
      <i class="fas fa-thumbtack" id="multiMarketIcon32536928" onclick="addMultimarket('32536928')"></i>
  </td>
</tr>



</tbody>
          </table>
        </div>
        <!-- tennis end  -->

        <!-- BasketBall start  -->
        <div class="hi-cri" id="baskethideandshow" style="">
          <h2>
            <a class="to-expand">BasketBall</a>
          </h2>
          <table class="table">
            <thead>
              <tr>
                <th class="col-game"></th>
                <th class="col-visit">1</th>
                <th class="col-draw">x</th>
                <th class="col-home">2</th>
                <th class="col-info"></th>
              </tr>
            </thead>
            <tbody id="basketInplayList">


<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vbl">
          Virtual BasketBall
          <span class="play">In-Play</span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>

<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>

<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>

</tr>

</tbody>
          </table>
        </div>
        <!-- BasketBall end  -->

        <!-- Dogs start  -->
        <div class="hi-cri" id="dogshideandshow" style="">
          <h2>
            <a class="to-expand">Greyhound Racing</a>
          </h2>
          <table class="table">
            <thead>
              <tr>
                <th class="col-game"></th>
                <th class="col-visit">1</th>
                <th class="col-draw">x</th>
                <th class="col-home">2</th>
                <th class="col-info"></th>
              </tr>
            </thead>
            <tbody id="dogsInplayList">


<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vdr">
          Virtual Dogs
          <span class="play">In-Play</span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>

<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>

<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>

</tr>

</tbody>
          </table>
        </div>
        <!-- Dogs end  -->


        <!-- Horses start  -->
        <div class="hi-cri" id="horseshideandshow" style="">
          <h2>
            <a class="to-expand">Horse Racing</a>
          </h2>
          <table class="table">
            <thead>
              <tr>
                <th class="col-game"></th>
                <th class="col-visit">1</th>
                <th class="col-draw">x</th>
                <th class="col-home">2</th>
                <th class="col-info"></th>
              </tr>
            </thead>
            <tbody id="horsesInplayList">


<tr>
  <th>
      <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px; color: #228516;"></i>
      <a href="/VIRTUAL-SPORTS-HOME/vhc">
          Virtual Horses
          <span class="play">In-Play</span>
<span class="game-live" id="streamingIcon" style="display: inline-flex;">Live</span>

<span class="game-E" id="sportsBookEIcon_4" style="display: none;"><i></i>Cricket</span>

<span class="game-E" id="sportsBookEIcon_2" style="display: none;"><i></i>Tennis</span>
<span class="game-fancy" id="fancyBetIcon" style="cursor: pointer;">Fancy</span>
<span class="game-bookmaker play-in" id="bookMakerIcon" style="cursor: pointer; ">BookMaker</span>
<span class="game-sportsbook" id="sportsBookIcon_2" style="display: inline-flex;">Premium Cricket</span>
</a>
  </th>

</tr>

</tbody>
          </table>
        </div>
        <!-- Horses end  -->

      </div>

      <!-- today tab start  -->
      <div class="maine-table2" style="display: none;">
        <div class="filter">
          <h3>Sport Filters:</h3>
          <h4>
            <span>Cricket</span> <span><i class="fa fa-circle" aria-hidden="true"></i></span> <span>Soccer</span> <span><i class="fa fa-circle" aria-hidden="true"></i></span> <span>Tennis</span>
            <input type="button" value="Filter" class="dropdown-toggle filter-btn" id="filterdropdown" data-bs-toggle="dropdown">



            <div class="dropdown-menu check-div" href="filterdropdown">
              <div class="check-btn">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked=""> <label class="form-check-label" for="flexCheckDefault">All </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked=""> <label class="form-check-label" for="flexCheckChecked">
                    Soccer </label>
                </div>
              </div>
              <div class="check-btn">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked=""> <label class="form-check-label" for="flexCheckDefault">tennis
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked=""> <label class="form-check-label" for="flexCheckChecked">
                    Cricket </label>
                </div>
              </div>
              <div class="check-save">
                <input type="button" value="Save" class="save-btn"> <input type="button" value="Cancel" class="cancel-btn">
              </div>
            </div>
          </h4>
        </div>
        <div class="maine-table-scroll">
          <table>
            <tbody id="todayList">


            </tbody>

          </table>
        </div>

      </div>

      <!-- today tab end  -->

      <!-- Tomorrow tab start  -->
      <div class="maine-table3" style="display: none;">
        <div class="filter">
          <h3>Sport Filters:</h3>
          <h4>
            <span>Cricket</span> <span><i class="fa fa-circle" aria-hidden="true"></i></span> <span>Soccer</span> <span><i class="fa fa-circle" aria-hidden="true"></i></span> <span>Tennis</span>
            <input type="button" value="Filter" class="dropdown-toggle filter-btn" id="filterdropdown" data-bs-toggle="dropdown">
            <div class="dropdown-menu check-div" href="filterdropdown">
              <div class="check-btn">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked=""> <label class="form-check-label" for="flexCheckDefault">All </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked=""> <label class="form-check-label" for="flexCheckChecked">
                    Soccer </label>
                </div>
              </div>
              <div class="check-btn">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked=""> <label class="form-check-label" for="flexCheckDefault">tennis
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked=""> <label class="form-check-label" for="flexCheckChecked">
                    Cricket </label>
                </div>
              </div>
              <div class="check-save">
                <input type="button" value="Save" class="save-btn"> <input type="button" value="Cancel" class="cancel-btn">
              </div>
            </div>
          </h4>
        </div>
        <div class="maine-table-scroll">
          <table>
            <tbody id="tomorrowList">
            </tbody><tbody>
          </tbody></table>
        </div>

      </div>
      <!-- Tomorrow tab end  -->
    </div>
    <div class="col-md-3 col-3 inplay_right">





<div class="white-right">
  <h2 style="cursor:pointer;">
      <a class="to-expand">Bet Slip</a>
  </h2>


  <div class="slip-wrap no-open-bet_slip">


      <ul id="loadingMsg" class="loading" style="display: none">
          <li><img src="/desktopfile/img/loading40.gif"></li>
          <li id="countDownTime">Bet Place Processing......</li>
      </ul>



      <div class="message-bet">
          <h4 id="errorMsg" class="error" style="display: none;"></h4>
          <p id="betMsg" class="warning" style="display: none"></p>
      </div>



      <p id="noBetSlipInfo" style="display: none;">Click on the odds to add selections to the betslip.</p>


      <div id="betSlipBoard" class="bet_slip" style=""></div>


      <div id="confirmBetList" class="slip-list" style="max-height: calc(100% - 96px); display: none">

          <div class="message-bet">
              <h4 class="warning">Please confirm your bets.</h4>
              <p>A commission is charged on your net profit from each market.</p>
          </div>

          <ul id="backSlipHeader" class="slip-head" style="display: none">
              <li class="col-bet">Back (Bet For)</li>
              <li class="col-odd">Odds</li>
              <li class="col-stake">Stake</li>
              <li class="col-profit">Profit</li>
          </ul>

          <ul id="laySlipHeader" class="slip-head" style="display: none">
              <li class="col-bet">Lay (Bet Against)</li>
              <li class="col-odd">Odds</li>
              <li class="col-stake">Stake</li>
              <li class="col-profit">Liability</li>
          </ul>


          <div id="confirmHeader" style="display: none">
              <h4>
                  <img class="icon-in_play" src="/desktopfile/img/transparent.gif">
              </h4>
          </div>



          <dl id="confirmBetTemplate" class="slip-back" style="display: none">
              <dt>
                  <span id="slipType" class="slip-type">--</span>
                  <span id="selectionName">--</span>
                  <span id="marketName">--</span>
              </dt>
              <dd id="price" class="col-odd">--</dd>
              <dd id="size" class="col-stake">--</dd>
              <dd id="profitLiability" class="col-profit">--</dd>
          </dl>


      </div>

      <div id="confirmBetFullBtn" class="full_btn" style="display: none">
          <dl class="sum">
              <dt></dt>
              <dd>
                  <span></span>
              </dd>
          </dl>

          <ul class="btn-wrap">
              <li><a id="editBets" class="btn" style="cursor:pointer;">Edit Bets</a></li>
              <li><a id="submitBets" class="btn-send" style="cursor:pointer;">Confirm Bets</a></li>
          </ul>

          <ul class="slip-option">
              <li><input id="comfirmBets" type="checkbox" checked="checked"><label>Confirm bets before placing</label>
              </li>
          </ul>
      </div>

  </div>


</div>


<div class="matched-wrap" id="betsDataDiv" style="height: calc(100% - 301px); display: none;">

  <h3>
      <a id="openBetsRefresh" onclick="getLiabsList()" class="slip_refresh" style="cursor:pointer;">Refresh</a>
      <a class="to-expand" style="cursor:pointer;">Open Bets</a>
  </h3>


  <div class="message-bet">
      <h4 id="oneClickMsg" class="" style="display: none"></h4>
  </div>


  <div id="oneClickLoadingWrap" class="one_click-loading" style="display: none">
      <div id="loadPending" class="load-pending" style="display: none">
          <strong id="pendingNum"></strong>
          pending...
      </div>
      <ul class="loading">
          <li><img src="/desktopfile/img/loading40.gif"></li>
          <li id="oneClickTime">Place Bets</li>
      </ul>
  </div>


  <div class="message-bet">
      <h4 id="editErrorMsg" class="error" style="display: none"></h4>
      <p id="editBetMsg" class="warning" style="display: none"></p>
  </div>



  <ul id="processingImg" class="loading" style="display: none">
      <li><img src="/desktopfile/img/loading40.gif"></li>
      <li>Processing...</li>
  </ul>


  <div id="matchSection" style="height: calc(100% - 25px)">


      <div id="openBetSelectionBox" class="slip-sort">

          <select id="selectMenuBets" name="">

          </select>


          <option id="optionTemplate" value="" eventid="" marketid="" style="display: none;"></option>


      </div>


      <div id="openBetSlip" class="bet_slip over-wrap" style="height: calc(100% - 35px); display: block;">






          <ul id="stakePopupList" class="stake-popup" stakepopuplisttype="template" style="display: none;">
              <li><a id="selectStake_1" stake="10" style="cursor:pointer;">10</a></li>
              <li><a id="selectStake_2" stake="30" style="cursor:pointer;">30</a></li>
              <li><a id="selectStake_3" stake="50" style="cursor:pointer;">50</a></li>
              <li><a id="selectStake_4" stake="200" style="cursor:pointer;">200</a></li>
              <li><a id="selectStake_5" stake="500" style="cursor:pointer;">500</a></li>
              <li><a id="selectStake_6" stake="1000" style="cursor:pointer;">1000</a></li>
          </ul>


          <div id="oddsTipsPopup" class="tips-popup" style="display: none">min 1.01</div>


          <div id="stakeTipsPopup" class="tips-popup" style="display: none">Min 4.00</div>

          <div id="editUnMatchedList" class="slip-list" style="display: none;">



              <dd id="stakePopupList" class="col-stake_list" stakepopuplisttype="template" style="display: none;">
                  <ul>
                      <li><a class="btn" id="selectStake_1" stake="10" style="cursor:pointer;">10</a></li>
                      <li><a class="btn" id="selectStake_2" stake="30" style="cursor:pointer;">30</a></li>
                      <li><a class="btn" id="selectStake_3" stake="50" style="cursor:pointer;">50</a></li>
                      <li><a class="btn" id="selectStake_4" stake="200" style="cursor:pointer;">200</a></li>
                      <li><a class="btn" id="selectStake_5" stake="500" style="cursor:pointer;">500</a></li>
                      <li><a class="btn" id="selectStake_6" stake="1000" style="cursor:pointer;">1000</a></li>
                  </ul>
              </dd>


              <ul id="backSlipHeader" class="matched-head" style="display: none">
                  <li class="col-bet">Back (Bet For)</li>
                  <li class="col-odd">Odds</li>
                  <li class="col-stake">Stake</li>
                  <li class="col-profit">Profit</li>
              </ul>

              <ul id="laySlipHeader" class="matched-head" style="display: none">
                  <li class="col-bet">Lay (Bet Against)</li>
                  <li class="col-odd">Odds</li>
                  <li class="col-stake">Stake</li>
                  <li class="col-profit">Liability</li>
              </ul>


              <dl id="editUnMatchedTemplate" class="slip-lay" style="display: none;">
                  <dd id="betInfo" class="refer" style="display: none;">
                      <span id="betId">Ref: --</span>
                      <span id="placeDate">xx-xx-2016 --:--</span>
                  </dd>
                  <dt id="marketNameDt">
                      <a id="delete" class="delete" style="cursor:pointer;">delete</a>
                      <span id="slipType" class="slip-type">--</span>
                      <span id="marketName">--</span>
                  </dt>
                  <dd id="price" class="col-odd">
                      <input id="odds" type="text" maxlength="6">
                      <ul class="odd-add">
                          <li><a id="oddsUp" class="up" style="cursor:pointer;">up</a></li>
                          <li><a id="oddsDown" class="down" style="cursor:pointer;">down</a></li>
                      </ul>
                      <ul id="oddsTipsPoint"></ul>

                  </dd>
                  <dd id="size" class="col-stake">
                      <input id="inputStake" type="text" value="" maxlength="10">
                      <ul id="listPoint"></ul>

                  </dd>
                  <dd id="profitLiability" class="col-profit">--</dd>


                  <dd id="inningsRuns" class="inn_runs" style="display: none;">
                      <dl>
                          <dt id="ifRuns"></dt>
                          <dd><span id="runsPL" class="green">$0.00</span></dd>
                          <dt id="ifLess"></dt>
                          <dd><span id="lessPL" class="green">$0.00</span></dd>
                      </dl>
                  </dd>


                  <dd id="keepOptionBox" class="keep-option" style="display: none;">
                      At In-Play
                      <input name="keepOption" id="cancel" type="checkbox"><label for="cancel">cancel</label>
                      <input name="keepOption" id="keep" type="checkbox"><label for="keep">keep</label>
                      <p class="dynamic-min-bet">Min Bet: <strong id="dynamicMinBet"></strong></p>
                  </dd>
              </dl>
          </div>


          <div id="editUnMatchFullBtn" class="full_btn" style="display: none;">
              <dl class="sum">

              </dl>

              <ul class="btn-wrap">
                  <li>
                      <a id="cancelAllUnMatch" class="btn" style="cursor:pointer;" tabindex="0">Cancel All Bets</a>
                  </li>
                  <li class="edit-function">
                      <a id="okBtn" class="btn-send" style="cursor:pointer;" tabindex="0">OK</a>
                      <a id="resetBtn" class="btn" style="cursor:pointer;" tabindex="0">Reset</a>
                  </li>
              </ul>
          </div>


          <ul id="txnHead" class="slip-head" style="">
              <li class="col-bet"><strong>Matched</strong></li>
          </ul>

          <div id="betData">

          </div>


          <div class="full_btn">
              <ul class="slip-option">
                  <li><input id="showBetInfo" type="checkbox" name="openOption"><label for="showBetInfo">Bet
                          Info</label></li>
                  <li name="txnOption"><input id="consolidate" type="checkbox" name="openOption"><label for="consolidate">Consolidate</label></li>
                  <li name="txnOption"><input id="averageOdds" type="checkbox" name="openOption"><label for="averageOdds">Average Odds</label></li>
              </ul>
          </div>

      </div>
  </div>
</div>

    </div>
  </div>
</div>
