<div class="footer">
  <div id="supportWrap" class="support-wrap container">
      <div class="support-service">
           <a id="support_email" style="" href="#" class="support-mail supmail"><img src="../../assets/desktopfile/img/transparent.gif" title="Email"></a>
         <a id="support_whatsapp" style="" class="support-whatsapp subweb"><img src="../../assets/desktopfile/img/transparent.gif" title="WhatsApp"></a>
          <a id="support_telegram" style="" class="support-telegram subinfo open"><img src="../../assets/desktopfile/img/transparent.gif" title="Telegram"></a>
         <a id="support_skype" style="" href="#" class="support-skype subskype"><img src="../../assets/desktopfile/img/transparent.gif" title="Skype"></a>
          <a id="support_instagram" style="" href="#" class="support-ig subinsta"><img src="../../assets/desktopfile/img/transparent.gif" title="Instagram"></a>
          <a id="support_facebook" style="" class="support-fb"><img src="../../assets/desktopfile/img/transparent.gif" title="Facebook"></a>
      </div>
      <div class="support-info">
         <div id="supportDetail_email" class="support-detail supmail"><a id="emailContent" href="mailto:"></a></div>
        <div id="supportDetail_whatsapp" class="support-detail subweb">
        <a id="whatsappContent" target="_blank" href="http://wa.me/"></a>
          </div>
          <div id="supportDetail_telegram" class="support-detail subinfo open">
              <a id="telegramContent" target="_blank" href="https://t.me/"></a>
          </div>
         <div id="supportDetail_skype" class="support-detail subskype">
              <a href="skype:?chat" id="skypeContent" target="_blank"></a>
          </div>
          <div id="supportDetail_instagram" class="support-detail subinsta">
              <a href="https://www.instagram.com//" id="instagramContent" class="ui-link" target="_blank"></a>
          </div>
          <div id="supportDetail_facebook" class="support-detail">
          <a id="facebookContent" target="_blank" href="https://www.facebook.com/"></a>
      </div>
      </div>
  </div>
<!--    <div class="power-wrap">
      <h3 id="powerWrapW">
          <span>Powered by</span>
          <img src="/desktopfile/img/betfair.png">
      </h3>
      <div class="vl"></div>
      <div class="licence_embed">
          <img src="/desktopfile/img/gc-logo.png" width="150" height="50" style="border:none;">
      </div>
      <p>VelkiBuzz is operated by Sky Infotech N.V. a limited liability company incorporated under the laws of Curacao with company Registration number 152377 with registered office at Abraham de Veerstraat 9 , Curacao P.O Box 3421 and is licensed and regulated by the Curacao authority as the regulatory body responsible holding a (Sub-license with License number 365/JAZ Sub-License GLH- OCCHKTW0707072017 granted on 6.07.2017).
          <br>
          Players are requested not to contact any untrusted sources for skyexchange.com accounts as this is an online site and they can only register independently without any agents. Only deposit through the account details generated by the system or provided by our official support team.
      </p>
  </div> -->
  <!-- Browser Support -->
  <div class="browser-wrap container">
      <!-- <img src="/desktopfile/img/website.png"> -->
      <img src="../../assets/desktopfile/img/transparent.gif">
      <br>
      <p>Our website works best in the newest and last prior version of these browsers: <br>Google Chrome. Firefox</p>
  </div>
  <ul class="policy-link">
      <!-- Policy and TC link -->
      <li><a onclick="window.open(&quot;/exchange/Info/PrivacyPolicy&quot;,&quot;_blank&quot;, &quot;width=700, height=700&quot;)">Privacy Policy</a></li>
      <li><a onclick="window.open(&quot;/exchange/General/TermConditions&quot;,&quot;_blank&quot;, &quot;width=700, height=700&quot;)">Terms and Conditions</a></li>
      <li><a onclick="window.open(&quot;/exchange/General/RulesnReg&quot;,&quot;_blank&quot;, &quot;width=700, height=700&quot;)">Rules and Regulations</a></li>
      <li><a onclick="window.open(&quot;/exchange/Security/Kyc&quot;,&quot;_blank&quot;, &quot;width=700, height=700&quot;)">KYC</a></li>
      <li><a onclick="window.open(&quot;/exchange/ResponsibleGaming&quot;,&quot;_blank&quot;, &quot;width=700, height=700&quot;)">Responsible Gaming</a></li>
     <!--  <li><a href="#">About Us</a></li>
      <li><a href="#">Self-exclusion Policy</a></li>
      <li><a href="#">Underage Policy</a></li> -->
  </ul>
  <div class="app-link" style="display:block;">
      <a href="https://dl.dropboxusercontent.com/s/xmr4neylutrb2eg/Betx365.apk"><img src="/desktopfile/img/btn-appdl.png" alt=""></a>
      <p>v1 - 2022-08-06 - 4.0MB</p>
  </div>
</div>
