<app-navigation></app-navigation>

<div class="main_wrap skyexchange">
  <!-- Left Column -->
  <div class="col-left">
      <!-- Sub Menu and Path -->
      <div class="sub_path">
          <!-- Path -->
          <div class="path">
              <a href="#path-pop" class="path-back"><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </a>
              <ul>
                  <li class="path-last"><a href="#">My Account</a></li>
              </ul>
          </div>
          <!-- Path Pop Up-->
          <ul id="path-pop" class="path-pop">
          </ul>
          <!-- Sub Menu -->
          <ul class="menu-list">
              <li class="active-li"><a id="sub_menu_detail" href="/exchange/Details" class="select">My Profile</a></li>
              <li><a id="sub_menu_summary" href="/exchange/Account/BalanceOverView">Balance Overview</a></li>
              <li><a id="sub_menu_accountCashStatement_log" href="/exchange/Account/Statement/1">Account Statement</a></li>
              <li><a id="sub_menu_my_bets" href="/exchange/Account/Bets">My Bets</a></li>
              <li><a id="sub_menu_activity_log" href="/exchange/Account/ActivityLogs/1">Activity Log</a></li>
          </ul>
      </div>
  </div>
  <!-- Center Column -->
  <div class="col-center report">
      <!-- Loading Wrap -->
      <div id="loading" class="loading-wrap" style="display:none">
          <ul class="loading">
              <li><img src="../../assets/desktopfile/img/loading40.gif"></li>
              <li>Loading...</li>
          </ul>
      </div>
      <!-- Message -->
      <div id="message" class="message-wrap success">
          <a class="btn-close">Close</a>
          <p></p>
      </div>
      <!-- Loading Wrap -->
      <div class="loading-wrap" style="display: none">
          <ul class="loading">
              <li><img src="../../assets/desktopfile/img/loading40.gif"></li>
              <li>Loading...</li>
          </ul>
      </div>
      <h2 class="act-details">Account Details</h2>
      <div class="pro-flex">
          <div class="event-left">
              <div class="profile-wrap">
                  <h3>About You</h3>
                  <dl>
                      <dt>First Name</dt>
                      <dd id="puserId">demo3</dd>
                  </dl>
                  <dl>
                      <dt>Last Name</dt>
                      <dd id="plastName"></dd>
                  </dl>
                  <dl>
                      <dt>Birthday</dt>
                      <dd>
                          --
                      </dd>
                  </dl>
                  <dl>
                      <dt>E-mail</dt>
                      <dd id="pemail">anurag.008bhrdawj@gmail.com</dd>
                  </dl>
                  <dl>
                      <dt>Password</dt>
                      <dd>********************************
                          <a style="float:right" href="#" class="favor-set" onclick="hideDialog()">Edit<i class="fas fa-pen"></i></a>
                      </dd>
                  </dl>
              </div>

              <div class="profile-wrap">
                  <h3>Address</h3>
                  <dl>
                      <dt>Address</dt>
                      <dd>--</dd>
                  </dl>
                  <dl>
                      <dt>Town/City</dt>
                      <dd>--</dd>
                  </dl>
                  <dl>
                      <dt>Country</dt>
                      <dd>--</dd>
                  </dl>
                  <dl>
                      <dt>Country/State</dt>
                      <dd>--</dd>
                  </dl>
                  <dl>
                      <dt>Postcode</dt>
                      <dd>--</dd>
                  </dl>
                  <dl>
                      <dt>Timezone</dt>
                     <dd id="ptimeZone">Asia/Dhaka GMT+6:00</dd>
                  </dl>
              </div>
          </div>

          <div class="event-right">
              <div class="profile-wrap">
                  <h3>Contact Details</h3>
                  <dl>
                      <dt>Primary number</dt>
                      <dd id="pMob"></dd>
                  </dl>
              </div>
              <div class="profile-wrap">
                  <h3>Setting</h3>
                  <dl>
                      <dt>Currency</dt>
                      <dd>PBU</dd>
                  </dl>
                  <dl>
                      <dt>Odds Format</dt>
                      <dd>--</dd>
                  </dl>
              </div>
              <div class="profile-wrap">
                  <h3>Commission</h3>
                  <dl>
                      <dt>Comm charged</dt>
                      <dd> <span id="pcommission">0 %</span></dd>
                  </dl>
              </div>
          </div>
      </div>
  </div>
</div>
