/* my account start  */

.main_wrap,
.header {
  position: relative;
  width: 1350px;
  margin: 0 auto;
}

.col-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 17.36111%;
}

.slip-wrap,
.matched-wrap,
.live-wrap,
.tv-wrap,
.game-wrap,
.game-highlight-wrap,
.game-wrap-horse,
.favor-wrap,
.sub_path {
  background-color: #fff;
  border-bottom: 1px solid #7e97a7;
  margin-bottom: 1px;
}

.sub_path {
  position: relative;
}

.path {
  position: relative;
  height: 25px;
  color: #fff;
  font-size: 12px;
  line-height: 25px;
  overflow: hidden;
  background-repeat: repeat-x;
  background-position: 0 -7155px;
}

.skyexchange .path {
  background: #4b6373;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
}

.skyexchange .path .path-back i.fa.fa-ellipsis-v {
  font-size: 20px;
  font-weight: normal;
  padding-left: 7px;
  line-height: 24px;
}

.skyexchange .path .path-back i.fa.fa-ellipsis-v::after {
  background: #818181;
  padding: 13px 0px 10px 0px;
  font-weight: bold;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 70% 100%, 96% 51%, 71% 0);
  width: 19px;
  height: 23px;
}

.path li {
  display: inline;
  padding: 4px 13px 5px 6px;
  background-position: 100% -2525px;
}

.path .path-last {
  background-image: none;
  padding-right: 6px;
}

.path a {
  display: inline;
  color: #ffbd15;
}

.skyexchange .path a {
  color: #fff;
  text-decoration: none;
}

.skyexchange .path a::after {
  content: "";
  text-align: right;
  position: absolute;
  left: 6px;
  background: #818181;
  font-weight: bold;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 70% 100%, 96% 51%, 71% 0);
  width: 20px;
  height: 25px;
}

.path-pop {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  max-width: 100%;
  background-color: #243a48;
  padding: 5px 0;
  z-index: 5;
}

.path-pop:not(:target) {
  display: none;
}

.skyexchange .path-pop {
  background-color: #222;
}

.menu-list {
  padding: 0;
  margin: 0;
}

.menu-list li {
  border-bottom: 1px solid #E0E6E6;
  list-style: none;
}

.skyexchange .menu-list li {
  border-bottom-color: #EFE1C1;
}

.skyexchange .menu-list li:hover {
  background-color: #f2dca7;
}

.menu-list a {
  line-height: 25px;
  padding: 0 10px;
}

.menu-list .select {
  color: #1e1e1e;
}

.skyexchange .menu-list a {
  color: #222;
  font-size: 12px;
  text-decoration: none;
}

.skyexchange .menu-list .select {
  color: #222;
  font-size: 12px;
  text-decoration: none;
}

.col-center {
  position: relative;
  margin-left: 17.36111%;
  margin-right: 26.04167%;
  padding: 0 15px;
}

.col-center.report {
  padding-right: 0;
  margin-right: 0;
}

.loading-wrap {
  display: none;
  top: 20%;
  height: 90px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
  padding-top: 25px;
  z-index: 50;
  position: absolute;
  left: 50%;
  width: 190px;
  margin-left: -95px;
}

.loading {
  padding: 5% 0;
}

.loading li {
  list-style: none;
  font-size: 11px;
  color: #243a48;
  margin-bottom: 3x;
}

.loading img {
  background-position: -42px -415px;
  height: 22px;
  width: 38px;
}

.message-wrap {
  display: none;
  position: absolute;
  top: 0;
  padding: 8px 0;
  background-color: #f8e71c;
  font-size: 14px;
  color: #1e1e1e;
  z-index: 99;
}

.success {
  background-color: #6BBD11;
}

.col-center .message-wrap {
  margin-left: -15px;
}

.message-wrap:not(:target) {
  display: none;
}

.message-wrap .btn-close {
  margin: 6px 10px 0 0;
}

.message-wrap p {
  line-height: 22px;
  padding: 0 10px;
  margin-bottom: 0;
}

.event-left,
.event-right {
  width: 49.5%;
}

.profile-wrap {
  background-color: #fff;
  border-bottom: 1px solid #7e97a7;
  margin-bottom: 15px;
}

.profile-wrap h3 {
  background-color: #7e97a7;
  color: #fff;
  line-height: 24px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
}

.col-center.report .act-details {
  font-size: 14px;
  font-weight: bolder;
  line-height: 2;
  margin: 0;
  padding: 3px 0px 6px 1px;
}

.event-left .profile-wrap dl {
  display: flex;
  font-size: 12px;
  margin: 0;
  padding: 0px 0px 0px 10px;
  border-bottom: 1px solid #ebebeb;
  height: 25px;
  line-height: 20px;
}

.event-left .profile-wrap dl dt {
  width: 130px;
  font-weight: normal;
}

.col-center.report .pro-flex {
  display: flex;
  justify-content: space-between;
}

.event-right .profile-wrap dl {
  display: flex;
  font-size: 12px;
  margin: 0;
  padding: 0px 0px 0px 10px;
  border-bottom: 1px solid #ebebeb;
  height: 25px;
  line-height: 20px;
}

.event-right .profile-wrap dl dt {
  width: 130px;
  font-weight: normal;
}

.event-left .profile-wrap dl dd a {
  font-size: 12px;
  margin-left: 146px;
  text-decoration: none;
}

.event-left .profile-wrap dl dd a i.fas.fa-pen {
  font-size: 10px;
  padding-left: 5px;
}

/* my account end  */

